In [2]:
import pandas as pd
import numpy as np

In [3]:
%pwd

'C:\\Users\\tmznq\\workspace\\ml_scratch\\seoul_coding_academy\\study'

In [4]:
# error : Install xlrd >= 1.0.0 for Excel support 이거 깔으랍니다.
# !pip install xlrd

In [5]:
path = 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'
data = pd.read_excel(path)
data

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'

#### 문제 정의
- 반별 과목별 평균을 구하고, 반별 평균보다 높은 학생 id를 출력하라.

In [6]:
# class와 id에 따른 pivoting
df = data.pivot_table(index=['class', 'id'])
df

NameError: name 'data' is not defined

In [7]:
# 반 별 grouping
df2 = df.groupby(level = 0)
df2

NameError: name 'df' is not defined

In [8]:
for i in df2:
    print(i)

NameError: name 'df2' is not defined

In [9]:
# groupby 추출하기
df_group = pd.DataFrame(df2.apply(lambda x: x))
df_group

NameError: name 'df2' is not defined

In [10]:
# groupby 추출하기
df_group2 = pd.DataFrame(df2.apply(lambda x: x.iloc[1:3]))
df_group2

NameError: name 'df2' is not defined

In [11]:
df2.mean()

NameError: name 'df2' is not defined

In [12]:
result = pd.DataFrame(df2.apply(lambda x: x[x > x.mean()]))
result

NameError: name 'df2' is not defined

In [13]:
result = pd.DataFrame(df2.apply(lambda x: x[x > x.mean()])) # x[x > x.mean()] : fancy indexing
result

NameError: name 'df2' is not defined

In [14]:
result[['english']].dropna()

NameError: name 'result' is not defined

In [15]:
path = 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'

def id_2(path, subject = ''):
    data = pd.read_excel(path) # excel 불러오기
    df = data.pivot_table(index=['class', 'id']) # data pivot
    df2 = df.groupby(level = 0) # groupby
    result = pd.DataFrame(df2.apply(lambda x: x[x > x.mean()])) # apply에 함수 적용
    
    return result[['{}'.format(subject)]].dropna()

In [16]:
id_2(path, subject = 'math')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'

In [52]:
df2

In [55]:
df2.rank(method='first')

          english  math  science
class id
1     1       3.0   3.0      1.0
      2       2.0   4.0      3.0
      3       1.0   2.0      4.0
      4       4.0   1.0      2.0
2     5       2.0   1.0      3.0
      6       3.0   2.0      4.0
      7       4.0   3.0      2.0
      8       1.0   4.0      1.0
3     9       3.0   1.0      1.0
      10      4.0   3.0      3.0
      11      1.0   4.0      4.0
      12      2.0   2.0      2.0
4     13      3.0   1.0      2.0
      14      2.0   2.0      1.0
      15      1.0   4.0      4.0
      16      4.0   3.0      3.0
5     17      1.0   1.0      4.0
      18      3.0   3.0      3.0
      19      2.0   4.0      2.0
      20      4.0   2.0      1.0

In [24]:
df2.mean()

       english   math  science
class
1        94.75  46.25    61.50
2        84.25  61.25    58.25
3        86.50  45.00    39.25
4        84.75  56.75    55.00
5        74.25  78.00    83.25

In [60]:
path = 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'

def all(path):
    data = pd.read_excel(path) # excel 불러오기
    df = data.pivot_table(index=['class', 'id']) # data pivot
    df2 = df.groupby(level = 0) # groupby
    result = pd.DataFrame(df2.apply(lambda x: x[x > x.mean()]).fillna(value = '평균미달'))
    return result

In [61]:
path = 'C:/Users/tmznq/workspace/ml_scratch/seoul_coding_academy/강의자료/excel_exam.xlsx'

def _rank(path):
    data = pd.read_excel(path) # excel 불러오기
    df = data.pivot_table(index=['class', 'id']) # data pivot
    df2 = df.groupby(level = 0) # groupby
    result = pd.DataFrame(df2.apply(lambda x: x[x > x.mean()].rank(method = 'first', ascending = False)).fillna(value = '평균미달'))
    return result

In [1]:
result

NameError: name 'result' is not defined

In [62]:
all(path)[:4]

         english  math science
class id
1     1       98    50    평균미달
      2       97    60    평균미달
      3     평균미달  평균미달      78
      4       98  평균미달    평균미달

In [63]:
_rank(path)

         english  math science
class id
1     1        1     2    평균미달
      2        3     1    평균미달
      3     평균미달  평균미달       1
      4        2  평균미달    평균미달
2     5     평균미달  평균미달       2
      6        2  평균미달       1
      7        1     2    평균미달
      8     평균미달     1    평균미달
3     9        1  평균미달    평균미달
      10       2     2       2
      11    평균미달     1       1
      12    평균미달  평균미달    평균미달
4     13       1  평균미달       2
      14       3  평균미달    평균미달
      15    평균미달     1       1
      16       2     2       3
5     17    평균미달  평균미달       1
      18       2     2       2
      19    평균미달     1       3
      20       1  평균미달    평균미달

___

In [200]:
# cf) class별 평균으로 정렬해보기.
result2 = pd.DataFrame(df2.apply(lambda x: x.sort_values(ascending=False)))
result2.head()

               mean
class id
1     2   72.333333
      3   69.666667
      1   66.000000
      4   62.000000
2     6   79.000000