#### pandas data 호출

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [30]:
path = 'C:/Users/tmznq/workspace/ml_scratch/dataset/titanic/train.csv'
path2 = 'C:/Users/tmznq/workspace/ml_scratch/dataset/titanic/test.csv'
path3 = 'C:/Users/tmznq/workspace/ml_scratch/dataset/titanic/gender_submission.csv'
data = pd.read_csv(path)
data2 = pd.read_csv(path2)
data3 = pd.read_csv(path3)

df = data.drop(labels=['Name', 'Cabin', 'Ticket', 'Embarked', 'Sex'], axis = 1).dropna()
df[:5]
df_x = df.drop(labels='Survived', axis = 1)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(
    df_x, df['Survived'], random_state=0)

In [45]:
X_test.head()

     PassengerId  Pclass    Age  SibSp  Parch      Fare
423          424       3  28.00      1      1   14.4000
177          178       1  50.00      0      0   28.7125
305          306       1   0.92      1      2  151.5500
292          293       2  36.00      0      0   12.8750
889          890       1  26.00      0      0   30.0000

In [46]:
y_test.head()

423    0
177    0
305    1
292    0
889    1
Name: Survived, dtype: int64

In [39]:
knn = KNeighborsClassifier(n_neighbors=1)

In [40]:
target

array([0, 1])

In [42]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [43]:
prediction = knn.predict(X_test)
prediction

array([0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0], dtype=int64)

In [44]:
knn.score(X_test, y_test)

0.5698324022346368