In [4]:
%pwd # 현재 위치

'C:\\Users\\tmznq\\workspace\\ml_scratch\\seoul_coding_academy\\week2'

#### pandas data 호출

In [7]:
import numpy as np
import pandas as pd

ImportError:
Importing the multiarray numpy extension module failed.  Most
likely you are trying to import a failed build of numpy.
If you're working with a numpy git repo, try `git clean -xdf` (removes all
files not under version control).  Otherwise reinstall numpy.

Original error was: cannot import name 'multiarray' from 'numpy.core' (C:\Users\tmznq\Anaconda3\envs\ml_scratch\lib\site-packages\numpy\core\__init__.py)

In [4]:
path = 'C:/Users/tmznq/workspace/ml_scratch/dataset/titanic/train.csv'
df = pd.read_csv(path)
df

NameError: name 'pd' is not defined

In [3]:
# 정렬
# 색인, 계층적 색인
# 통계값 구하기
# 상관계수

### 1. sorting
- Pclass에 따른 정렬

In [32]:
#1 df에서 'Pclass' col에 의한 정렬
df.sort_values(by = 'Pclass')

In [39]:
df.sort_values(by = 'Pclass')[:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.00,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
710,711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.00,0,0,PC 17482,49.5042,C90,C
711,712,0,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S

In [36]:
#2 df에서 2가지 col에 의한 정렬 + 1개는 오름차순, 1개는 내림차순
df.sort_values(by = ['Pclass', 'Age'], ascending = [True, False])[:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S

In [1]:
df.sort_values()

NameError: name 'df' is not defined

### 2. 요금의 min, max
- Fare의 최솟값, 최댓값 구하기.

In [51]:
print(Fare.max(), Fare.min())

Fare    512.3292
dtype: float64 Fare    0.0
dtype: float64

In [60]:
df.Fare.describe()
df['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

### 3. Pclass에 따른 생존여부
- 여러 그래프로 표현하기

### 4. 성별에 따른 생존 여부
- 여러 그래프로 표현하기

In [ ]:
# Pclss에 따른 sorting
# Fare에 따른 sorting

In [ ]:
# Pclss에 따른 sorting
# Fare에 따른 sorting 
# Sex & Age 

# 성별 & 나이 별 cross table, 그래프화