# Composite Type
- list와 tuple을 구분한 이유 : 값의 변화가 없는 객체의 필요성때문에 tuple을 만듦.

## 1. tupel
- (  )
- 쉼표로 구분된 값들을 튜플로 인식.
- element는 어떤 것도 올 수 있다. ex) 다른 튜플, 리스트, 기본형, 리스트의 리스트 등
- 길이 = len()
- element 값들은 수정/삭제 할 수 없다.
- 각 요소를 반복적으로 처리 가능.

In [2]:
t = (1, 3, 5)

In [3]:
t[0]

1

In [4]:
t.append()=2 # element 추가 불가능
t[0]= 4 # element 수정 불가능

SyntaxError: can't assign to function call (<ipython-input-4-c87779070756>, line 1)

In [5]:
t = ({"1": "3"}, 5)

In [6]:
t[0]["1"] # dict key 사용해서 value 호출

'3'

In [7]:
t.count({"1": "3"}) # element 갯수 호출

1

## 2. list
- 값의 수정/삭제/변경 가능.
- 각 요소를 반복적으로 처리 가능.

In [11]:
l = [1, 2, 3]
l.append(4) # list에 element 추가
l2 = [5,6]

In [12]:
l.extend(l2) # list에 하나 이상의 요소, composite type 추가

In [14]:
l

[1, 2, 3, 4, 5, 6]

In [16]:
l.pop() # 가장 큰 value 반환 후 list에서 삭제

5

In [17]:
l3 = [1, [2, 3],[[4, 5],[6, 7]]] # 7 뽑아내기
l3[2][1][1]

7

In [18]:
s = "abcdef" # for문 기본
for c in s:
    print(c)

a
b
c
d
e
f

In [23]:
len(l)

4

In [27]:
l4 = []
for i in range(len(l)):
    if (i % 2 ==0):
        l4.append(l[i])
l4

[1, 3]

In [24]:
l

[1, 2, 3, 4]

###  *list.pop(i) == del list[i]*
- i번째 element 삭제
- 차이점은 pop은 element 반환 후 삭제, del은 element 삭제.

In [41]:
a = [3, 1, 2]
a

[3, 1, 2]

In [37]:
sorted(a) # 새로운 객체를 만들어 반환. 즉 원본은 건들지 않음.

[1, 2, 3]

In [42]:
a.sort() # a.sort(), method 사용 시 객체 자체를 변경함.
a

[1, 2, 3]

#### 항상 참조와 복사 구분할 것. why? 에러남.  slicing한 것은 단순히 element 껍데기를 가져온 것.

In [61]:
b = [1, 3, 13]

In [66]:
b2 = [b,b]
b2

[[9, 3, 13], [9, 3, 13]]

In [67]:
b[0] = 9
b2 # b를 바꿔도 b2에는 변함이 없음. why? 객체의 주솟값을 가져온게 아니라 element 복사한 것.

[[9, 3, 13], [9, 3, 13]]

In [68]:
import copy
b2 = b.copy()
b2

[9, 3, 13]

### list : 나열  /  array : (연속해서)배열  
- list 속의 element는 type의 구분없이 사용 가능.
- array는 동일한 size의 값들이 연속해서 위치. 따라서 담고 있는 d.type은 전부 동일해야함.
- list는 address를 가지고 있고, array는 직접적인 data를 담고 있음.
- array가 list보다 약 100배 빠르지만, 변수들의 자유는 없음.

## 3. dict
- key와 value로 구성
- key에 의한 접근
- json 파일은 대부분 key와 value로 구성되어 있음. 즉, dict로 이용가능

In [135]:
d= {'name': 'dooley', 
    'birth': 1988, 
    'loc': 'Seoul'}
d

{'name': 'dooley', 'birth': 1988, 'loc': 'Seoul'}

In [137]:
'name' in d

True

In [138]:
'dooley' in d.values() # dict의 value를 찾고 싶다면 d.values()

True

In [125]:
del d['Key']
d.pop('Key')

KeyError: 'Key'

## 4. set
- 중복을 허용하지 않는다.
- 순서가 없다.
- 주로 집합 연산에 대한 함수가 존재.
- 리스트에서 중복값을 제거할 때 사용.

In [144]:
s = {1, 3, 4 ,5, 6}
s2 = {1, 4, 2, 7}
type(s)

set

In [143]:
1 in s

True

In [145]:
s | s2 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [148]:
s & s2 # 교집합

{1, 4}

In [152]:
s.difference_update({4}) # set의 element 빼는 방법
s

{1, 3, 5, 6}

## Boolean
- 참, 거짓
- 0과 0.0이 아닌 모든 수에 bool을 취하면 True가 된다.

In [153]:
type(True)

bool

In [164]:
True == 1 # == 1.

True

In [167]:
False == 0 # == 0.

True

In [170]:
bool(0.4)

True

In [158]:
bool(0)

False

## 연습문제2

In [83]:
# 2.1. 처음50개는 값이0, 나머지 50개는 1

l = [[0]*50, [1]*50]

In [101]:
l = [] # for문 1
for _ in range(50):
    l.append(0)
for _ in range(50):
    l.append(1)

In [103]:
l = [] # for문 2
for i in range(2):
    for _ in range(50):
        l.append(i)

In [84]:
# 2.2. 
l = [3, 1, 5, 4, 2]
l.sort()
a = l[0]
b = l[4]
print("l의 최댓값은 {}, 최솟값은 {}이다.".format(b, a))

l의 최댓값은 5, 최솟값은 1이다.

In [107]:
l = [3, 1, 5, 4, 2]
def minmax(li):
    l.sort()
    return li[0], li[-1]
minmax(l)
print("l의 최댓값은 {}, 최솟값은 {}이다.".format(minmax(l)[-1], minmax(l)[0]))

l의 최댓값은 5, 최솟값은 1이다.

In [110]:
# 2.3. 0부터 99까지 10*10 행렬 형태의 리스트
mylist=[]
for i in range(10):
    n = i*10
    innerlist=[]
    for j in range(10):
        innerlist.append(n+j)
    mylist.append(innerlist)
mylist

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

In [112]:
mylist=[]
for i in range(10):
    n = i * 10
    mylist.append([n+j for j in range(10)])
mylist

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

In [113]:
[20+j for j in range(10)] # list comprehension

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

### 구구단

In [182]:
d99 = {}
for i in range(1,10):
    innerlist = []
    for j in range(1, 10):
        innerlist.append(i*j)
    d99[i] = innerlist
d99

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9],
 2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

In [185]:
d99 = {}
for i in range(2, 10,2):
    innerlist = []
    for j in range(1, 10):
        innerlist.append(i*j)
    d99[i] = innerlist
d99

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72]}