#### 구구단
1. 1단부터 만들어보자.
2. 2단도 만들어보자.
3. 일반화해보자.

In [2]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
l = []
for i in range(1,10):
    l.append(i)
    print(l)
l

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l = []
for i in range(1,10):
    l.append(3*i)
    print(l)
l

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]
[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15, 18]
[3, 6, 9, 12, 15, 18, 21]
[3, 6, 9, 12, 15, 18, 21, 24]
[3, 6, 9, 12, 15, 18, 21, 24, 27]

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [12]:
list99 = []
for j in range(1, 10):
    l = []
    for i in range(1, 10):
        l.append(i*j)
        print(l)
    list99.append(l)
    print(list99)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]
[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18]]
[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]
[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15, 18]
[3, 6, 9, 12, 15, 18, 21]
[3, 6, 9, 12, 15, 18, 21, 24]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27]]
[4]
[4, 8]
[4, 8, 12]
[4, 8, 12, 16]
[4, 8, 12, 16, 20]
[4, 8, 12, 16, 20, 24]
[4, 8, 12, 16, 20, 24, 28]
[4, 8, 12, 16, 20, 24, 28, 32]
[4, 8, 12, 16, 20, 24, 28, 32, 36]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36]]
[5]
[5, 10]
[5, 10, 15]
[5, 10, 15, 20]
[5, 10, 15, 20, 25]
[5, 10, 15, 20, 25, 30]
[5, 10, 15, 20, 25, 30, 35]
[5, 10, 15, 20, 25, 30, 35, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45]]
[6]
[6, 12]
[6, 12, 18]
[6, 12, 18, 24]
[6, 12, 18, 24, 30]
[6, 12, 18, 24, 30, 36]
[6, 12, 18, 24, 30, 36, 42]
[6, 12, 18, 24, 30, 36, 42, 48]
[6, 12, 18, 24, 30, 36, 42, 48, 54]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54]]
[7]
[7, 14]
[7, 14, 21]
[7, 14, 21, 28]
[7, 14, 21, 28, 35]
[7, 14, 21, 28, 35, 42]
[7, 14, 21, 28, 35, 42, 49]
[7, 14, 21, 28, 35, 42, 49, 56]
[7, 14, 21, 28, 35, 42, 49, 56, 63]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63]]
[8]
[8, 16]
[8, 16, 24]
[8, 16, 24, 32]
[8, 16, 24, 32, 40]
[8, 16, 24, 32, 40, 48]
[8, 16, 24, 32, 40, 48, 56]
[8, 16, 24, 32, 40, 48, 56, 64]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72]]
[9]
[9, 18]
[9, 18, 27]
[9, 18, 27, 36]
[9, 18, 27, 36, 45]
[9, 18, 27, 36, 45, 54]
[9, 18, 27, 36, 45, 54, 63]
[9, 18, 27, 36, 45, 54, 63, 72]
[9, 18, 27, 36, 45, 54, 63, 72, 81]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]

#### 리스트의 정렬
l = [3, 6, 7, 9, 2, 8, 5, 1]를 순서대로 정렬하고자 한다.

1. l에서 for 문을 이용한 비교를 통해 최소값을 꺼낸다.(pop)
2. 새로운 list에 append한다.
3. l이 빌때까지, 1 ~ 2를 반복한다.
4. 새로운 list를 리턴한다.

In [13]:
l = [3, 6, 7, 9, 2, 8, 5, 1]

In [19]:
m = 9999999

In [18]:
min(0, 7)

0

In [20]:
for i in range(len(l)):
    m = min(m, l[i])

1

In [21]:
sortedl = []

In [22]:
sortedl.append(m)
l.remove(m)
print(l, sortedl)

[3, 6, 7, 9, 2, 8, 5] [1]

#### 가장 작은 값을 찾아 정렬하는 방법

In [32]:
l = [3, 6, 7, 9, 2, 8, 5, 1]
n = len(l)
sortedl = []

In [29]:
for j in range(n):
    m = l[0]
    for i in range(len(l)):
        m = min(m, l[i])
    sortedl.append(m)
    l.remove(m)
    print(l, sortedl)

[3, 6, 7, 9, 2, 8, 5] [1]
[3, 6, 7, 9, 8, 5] [1, 2]
[6, 7, 9, 8, 5] [1, 2, 3]
[6, 7, 9, 8] [1, 2, 3, 5]
[7, 9, 8] [1, 2, 3, 5, 6]
[9, 8] [1, 2, 3, 5, 6, 7]
[9] [1, 2, 3, 5, 6, 7, 8]
[] [1, 2, 3, 5, 6, 7, 8, 9]

#### 가장 작은 위치를 찾아서 정렬하는 방법

In [34]:
l = [3, 6, 7, 9, 2, 8, 5, 1]
n = len(l)
sortedl = []

for j in range(n):
    m = 0
    for i in range(len(l)):
        if l[i] < l[m]: m = i
    sortedl.append(l.pop(m))
    print(l, sortedl)

In [30]:
ll = [1,2,3]
lll = []
lll.append(ll.pop(0))
print(ll, lll)

[2, 3] [1]

In [36]:
ll

[2, 3]

In [44]:
for i, j in enumerate(ll):
    print("i = %d는 반복 횟수를 나타낸다." %i)
    print("j = %d는 ll의 값을 나타낸다." %j)
    print("=====다음 반복을 시작한다.======")

i = 0는 반복 횟수를 나타낸다.
j = 2는 ll의 값을 나타낸다.
=====다음 반복을 시작한다.======
i = 1는 반복 횟수를 나타낸다.
j = 3는 ll의 값을 나타낸다.
=====다음 반복을 시작한다.======

In [46]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
for i, j in zip(l1, l2):
    print("i = %d는 l1의 성분이다." %i)
    print("j = %s는 l2의 성분이다." %j)
    print("=====다음 반복을 시작한다.======")

i = 1는 l1의 성분이다.
j = a는 l2의 성분이다.
=====다음 반복을 시작한다.======
i = 2는 l1의 성분이다.
j = b는 l2의 성분이다.
=====다음 반복을 시작한다.======
i = 3는 l1의 성분이다.
j = c는 l2의 성분이다.
=====다음 반복을 시작한다.======

zip은 사전을 만드는 좋은 도구이다. 함수의 이름이 인자(인풋)을 설정할 때 사용한다.

In [47]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
d = {}
for i, j in zip(l1, l2):
    d[j] = i
d

{'a': 1, 'b': 2, 'c': 3}

In [48]:
for k in d:
    print(k)
    print(d[k])

a
1
b
2
c
3

In [49]:
for k, v in d.items():
    print(k, v)

a 1
b 2
c 3

In [50]:
for v in d.values():
    print(v)

1
2
3

In [55]:
import numpy as np

In [62]:
def meansum(lst):
    return np.sum(lst), np.mean(lst), np.std(lst)

In [63]:
meansum(l)

(41, 5.125, 2.7128168017763383)

In [65]:
s, *m = meansum(l)
print(s, m)

41 [5.125, 2.7128168017763383]

In [68]:
_, k, o = meansum(l)
print(o, k)

2.7128168017763383 5.125

#### 변수의 범위

In [70]:
n = 99

def f(x):
    x += 1
    return x

f(2)

3

In [71]:
f(n)

100

In [72]:
n

99

In [73]:
s, s2 = "abc", 'def'

In [74]:
s

'abc'

In [75]:
s2

'def'

In [76]:
def sf(x, y):
    x = x + y
    return x

In [77]:
sf("a", "fgh")

'afgh'

In [78]:
sf(s, s2)

'abcdef'

In [79]:
s

'abc'

In [80]:
t = (1, 3, 4)
t2 = (5, 7)
t+t2

(1, 3, 4, 5, 7)

In [81]:
sf(t, t2)

(1, 3, 4, 5, 7)

In [82]:
t

(1, 3, 4)

In [85]:
l = [1,2,3]; l2 = [5, 7]

In [84]:
l, l2 = [1,2,3], [5, 7]
l1 + l2

[1, 2, 3, 5, 7]

In [86]:
sf(l, l2)

[1, 2, 3, 5, 7]

In [87]:
l

[1, 2, 3]

#### lambda 함수

In [94]:
sorted([1,2,3,4,5],key=lambda x: abs(3.1 -x))

[3, 4, 2, 5, 1]

In [88]:
l = [1,2,3,4,5]

In [89]:
f = lambda x: abs(3.1 -x)

In [93]:
list(map(f, l))

[2.1, 1.1, 0.10000000000000009, 0.8999999999999999, 1.9]

In [98]:
ll = [1,2,3,4,5]
ll.sort(key=lambda x: abs(3.1 -x))
ll

[3, 4, 2, 5, 1]

In [99]:
import os
os.getcwd()

'e:\\pydata-book-old-edition\\notebooks'

In [104]:
f = open("test.txt", 'w')

In [105]:
f.write("""2 둘리 25
1 봉수 57
3 지온 13
""")

24

In [128]:
f.close()

In [123]:
f = open("test.txt")

In [113]:
f.readline()

''

In [118]:
f.read()

'2 둘리 25\n1 봉수 57\n3 지온 13\n'

In [121]:
f.readlines()

['2 둘리 25\n', '1 봉수 57\n', '3 지온 13\n']

In [129]:
f = open("test.txt")

In [130]:
colname = ["id", "name", "age"]
recs = []

In [131]:
for line in f.readlines():
    l = line.split(" ")
    rec = {}
    for name, v in zip(colname, l):
        rec[name] = v
    recs.append(rec)

recs

[{'id': '2', 'name': '둘리', 'age': '25\n'},
 {'id': '1', 'name': '봉수', 'age': '57\n'},
 {'id': '3', 'name': '지온', 'age': '13\n'}]

In [132]:
f.close()

In [133]:
colname = ["id", "name", "age"]
recs = []

with open("test.txt") as f:
    for line in f.readlines():
        l = line.split(" ")
        rec = {}
        for n, v in zip(colname, l):
            rec[n] = v
        recs.append(rec)
        
recs

[{'id': '2', 'name': '둘리', 'age': '25\n'},
 {'id': '1', 'name': '봉수', 'age': '57\n'},
 {'id': '3', 'name': '지온', 'age': '13\n'}]

In [138]:
with open("hello.py", 'w') as f:
    f.write("""def main(x):
    print(x)
    """)

In [140]:
# %load "hello.py"
def main(x):
    print(x)

In [141]:
main("yes")

yes

In [148]:
s.split

'abc'

In [4]:
with open("cities.txt", "w") as f:
    f.write("""1,서울 ,99.9, 중부
2, 부산 ,83.2, 남부
3, 대구 ,77.5, 남부
4, 인천 ,67.8, 중부
   """)

In [ ]:
f = open("cities.txt")

In [169]:
line = f.readline()

In [170]:
l = line.split(",")
l

['3', ' 대구 ', '77.5', ' 남부\n']

In [171]:
round(float(l[2]))

78

In [6]:
with open("cities2.txt", "w") as g:
    with open("cities.txt") as f:
        for i, line in enumerate(f.readlines()):
            l = line.split(",")
            duml = []
            duml.append(l[0])
            try:
                duml.append(round(float(l[2])))
            except IndexError as error:
                print(l, i)
            if l[3] == " 중부\n": a = 0
            else: a = 1
            duml.append(a)
            duml = list(map(str, duml))
            s = ",".join(duml)
            s = s + '\n'
            g.write(s)
            if i == 3: break

In [155]:
k = [1, 39, 1]
k = list(map(str, k))
k

['1', '39', '1']

In [156]:
",".join(k)

'1,39,1'

In [183]:
g = open("cities2.txt")
g.read()

'1,100,0\n2,83,1\n3,78,1\n4,68,0\n'

In [184]:
s.strip

'4,68,0\n'

#### for문의 continue
반복문에서 continue 문장을 만나는 순간, continue 문장 아래의 내용을 실행하지 말고, 다음 반복으로 이동하다.

In [12]:
list99 = []
for j in range(1, 10):
    # 짝수 구구단만 만들고자 하는 경우.
    if j%2 == 1: continue
    l = []
    for i in range(1, 10):
        l.append(i*j)
    list99.append(l)
    ## 짝수 구구단 6단까지만 만들고자 하는 경우.
    if j == 6: break
    
list99

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [6, 12, 18, 24, 30, 36, 42, 48, 54]]

#### 재귀함수(recursive function)
함수 정의부에서 자기자신을 호출하는 함수
```python
def f_name(x):
    y = ...
    f_name(y)
    ....
    return result
```
>[예]
>factorial 함수 f는 재귀적인 특성을 갖는다.
>f(5) = 5 x 4 x 3 x 2 x 1 = 5! = 5 x f(4)

In [20]:
def factorial(x):
    if x == 1: return 1
    return x*factorial(x-1)

In [21]:
factorial(5)

120

In [24]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

##### 하노이의 탑.
![](http://mblogthumb1.phinf.naver.net/20150923_176/mathplant00_1442991091987S1YQj_JPEG/%C0%CC%B9%CC%C1%F6_5.jpg?type=w2)

1. n-1 개 원반셋을 기둥1에서 기둥 2로 옮기고,
2. nth 원반을 기둥 1에서 기둥 3으로 옮기고,
3. n-1 개 원반셋을 기둥2에서 기둥 3으로 옮긴다.

In [36]:
i = 0
def hanoi(n, o, t):
    if n == 1:
        global i
        i+=1
        print("%d번째 원반을 %d 기둥에서 %d 기둥으로 %d 번째 옮긴다." %(n, o, t, i))
        return
    hanoi(n-1, o, 6-o-t)
    i+=1
    print("%d번째 원반을 %d 기둥에서 %d 기둥으로 %d 번째 옮긴다." %(n, o, t, i))
    hanoi(n-1, 6-o-t, t)

In [35]:
hanoi(8, 1, 3)

1번째 원반을 1 기둥에서 2 기둥으로 1 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 2 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 3 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 4 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 5 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 6 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 7 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 8 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 9 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 10 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 11 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 12 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 13 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 14 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 15 번째 옮긴다.
5번째 원반을 1 기둥에서 2 기둥으로 16 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 17 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 18 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 19 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 20 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 21 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 22 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 23 번째 옮긴다.
4번째 원반을 3 기둥에서 2 기둥으로 24 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 25 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 26 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 27 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 28 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 29 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 30 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 31 번째 옮긴다.
6번째 원반을 1 기둥에서 3 기둥으로 32 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 33 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 34 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 35 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 36 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 37 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 38 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 39 번째 옮긴다.
4번째 원반을 2 기둥에서 1 기둥으로 40 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 41 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 42 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 43 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 44 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 45 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 46 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 47 번째 옮긴다.
5번째 원반을 2 기둥에서 3 기둥으로 48 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 49 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 50 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 51 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 52 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 53 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 54 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 55 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 56 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 57 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 58 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 59 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 60 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 61 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 62 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 63 번째 옮긴다.
7번째 원반을 1 기둥에서 2 기둥으로 64 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 65 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 66 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 67 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 68 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 69 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 70 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 71 번째 옮긴다.
4번째 원반을 3 기둥에서 2 기둥으로 72 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 73 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 74 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 75 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 76 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 77 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 78 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 79 번째 옮긴다.
5번째 원반을 3 기둥에서 1 기둥으로 80 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 81 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 82 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 83 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 84 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 85 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 86 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 87 번째 옮긴다.
4번째 원반을 2 기둥에서 1 기둥으로 88 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 89 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 90 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 91 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 92 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 93 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 94 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 95 번째 옮긴다.
6번째 원반을 3 기둥에서 2 기둥으로 96 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 97 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 98 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 99 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 100 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 101 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 102 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 103 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 104 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 105 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 106 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 107 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 108 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 109 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 110 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 111 번째 옮긴다.
5번째 원반을 1 기둥에서 2 기둥으로 112 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 113 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 114 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 115 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 116 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 117 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 118 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 119 번째 옮긴다.
4번째 원반을 3 기둥에서 2 기둥으로 120 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 121 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 122 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 123 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 124 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 125 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 126 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 127 번째 옮긴다.
8번째 원반을 1 기둥에서 3 기둥으로 128 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 129 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 130 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 131 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 132 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 133 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 134 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 135 번째 옮긴다.
4번째 원반을 2 기둥에서 1 기둥으로 136 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 137 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 138 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 139 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 140 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 141 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 142 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 143 번째 옮긴다.
5번째 원반을 2 기둥에서 3 기둥으로 144 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 145 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 146 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 147 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 148 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 149 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 150 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 151 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 152 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 153 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 154 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 155 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 156 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 157 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 158 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 159 번째 옮긴다.
6번째 원반을 2 기둥에서 1 기둥으로 160 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 161 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 162 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 163 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 164 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 165 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 166 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 167 번째 옮긴다.
4번째 원반을 3 기둥에서 2 기둥으로 168 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 169 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 170 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 171 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 172 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 173 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 174 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 175 번째 옮긴다.
5번째 원반을 3 기둥에서 1 기둥으로 176 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 177 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 178 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 179 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 180 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 181 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 182 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 183 번째 옮긴다.
4번째 원반을 2 기둥에서 1 기둥으로 184 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 185 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 186 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 187 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 188 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 189 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 190 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 191 번째 옮긴다.
7번째 원반을 2 기둥에서 3 기둥으로 192 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 193 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 194 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 195 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 196 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 197 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 198 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 199 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 200 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 201 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 202 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 203 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 204 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 205 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 206 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 207 번째 옮긴다.
5번째 원반을 1 기둥에서 2 기둥으로 208 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 209 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 210 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 211 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 212 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 213 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 214 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 215 번째 옮긴다.
4번째 원반을 3 기둥에서 2 기둥으로 216 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 217 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 218 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 219 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 220 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 221 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 222 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 223 번째 옮긴다.
6번째 원반을 1 기둥에서 3 기둥으로 224 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 225 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 226 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 227 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 228 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 229 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 230 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 231 번째 옮긴다.
4번째 원반을 2 기둥에서 1 기둥으로 232 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 233 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 234 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 235 번째 옮긴다.
3번째 원반을 3 기둥에서 1 기둥으로 236 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 237 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 238 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 239 번째 옮긴다.
5번째 원반을 2 기둥에서 3 기둥으로 240 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 241 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 242 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 243 번째 옮긴다.
3번째 원반을 1 기둥에서 2 기둥으로 244 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 245 번째 옮긴다.
2번째 원반을 3 기둥에서 2 기둥으로 246 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 247 번째 옮긴다.
4번째 원반을 1 기둥에서 3 기둥으로 248 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 249 번째 옮긴다.
2번째 원반을 2 기둥에서 1 기둥으로 250 번째 옮긴다.
1번째 원반을 3 기둥에서 1 기둥으로 251 번째 옮긴다.
3번째 원반을 2 기둥에서 3 기둥으로 252 번째 옮긴다.
1번째 원반을 1 기둥에서 2 기둥으로 253 번째 옮긴다.
2번째 원반을 1 기둥에서 3 기둥으로 254 번째 옮긴다.
1번째 원반을 2 기둥에서 3 기둥으로 255 번째 옮긴다.

#### 분리결합을 통한 정렬 방법
최소값을 찾아내는 정렬 방법은 n개의 원소에 대해 $\cfrac {n(n+1)}{2}$ 번 계산해야 한다. 그러나, 이 방식은 실전 업무에서는 매우 느려 잘 사용하지 않는다.
```python
for j in range(n):
    m = 0
    for i in range(len(l)):
        if l[i] < l[m]: m = i
    sortedl.append(l.pop(m))
    print(l, sortedl)
```

우리는 상업용 정렬에서 퀵소트라고 알려진 분리 결합을 통한 정렬 방법을 구현할 것이다.

In [15]:
l = [3, 6, 7, 9, 2, 8, 5, 1]
n = len(l)
sortedl = []

1. 리스트의 특정 값을 중심으로 이 값보다 작은 것은 ll에 보내고, 그렇지 않은 것은 rl에 보내자.

In [16]:
cv = l[0]
ll = []; rl = []
for v in range(1, len(l)):
    if l[v] < cv : ll.append(l[v])
    else: rl.append(l[v])

In [17]:
print(ll, rl)

[2, 1] [6, 7, 9, 8, 5]

In [43]:
def qsort(l):
    ## 예외처리
    if len(l) == 0: cl = []
    else: cl = [l[0]]
    ll = []; rl = []
    ## 종료조건
    if len(l) <= 1:
        return ll + cl + rl
    for i in range(1, len(l)):
        if l[i] < cl[0]: ll.append(l[i])
        else: rl.append(l[i])
    llist = qsort(ll)
    rlist = qsort(rl)
    return llist + cl + rlist

In [44]:
qsort(l)

[1, 2, 3, 5, 6, 7, 8, 9]

In [47]:
type(3)

int

In [49]:
type("3")

str

In [50]:
print(qsort)

<function qsort at 0x00000000051392F0>

In [52]:
qsort.__str__()

'<function qsort at 0x00000000051392F0>'