#### Week1 : Python 기본 문법
- 목표 : 결과값 구현, 배웠던 것들 이해 & 활용하기. (참고 가능)
- 제한 시간 : 없음

>결과값을 나타내는 해결 방법이 전부 다를 수 있습니당. 정답은 참고용으로만 쓰세요!!  
혹시라도 잘못된 부분이나 더 나은 방법이 있다면 언제든지 공유해요

#### Q.1 Jupyter notebook Markdown
- Markdown을 사용하여 아래의 결과를 나타낼 것.
```python
# markdown에 정답을 입력하세요
```

# head1
## head2
[]()
![]()
$\sin$

# Head1  

## Head2  

[URL]()  

![사진첨부]()  

$\sin(x)$

```python
def ggegege
```

```python
# markdown에서 python code 인용
def ex1():
    for i in range(100):
        print(i)
```

#### Q.2 python 기본 연습 문제

In [7]:
# 2.1. 5.5를 2로 나누고 몫과 나머지를 구하라.

5.5을 2로 나눈 몫은2이고, 나머지는 0.75이다.

In [29]:
# 2.2. sin(pi/2)를 구하라.

```python
sin(pi/2) == 1
```

In [40]:
# 2.3. round(2.9), math floor(2.9), math ceil(2.9)의 차이점?

3

In [17]:
import math

In [20]:
round(2.9)

3

In [18]:
math.floor(2.9)

2

In [19]:
math.ceil(2.9)

3

```python
2.9의 {}:3, {}:2, {}:3
```

In [20]:
# 2.4. random()을 이용해서 운수를 알아보자. 0~5 : 보통, 6~10 : 좋음

In [22]:
import random
random.randint(0, 10)

10

In [30]:
# cf) list comprehension과 random을 이용한 주간 운수 판별해보기
# 7일 동안 매일매일의 랜덤 운수 값을 더한 값이 35보다 크면 좋음, 작으면 나쁨.

좋음

```python
def my_luck():
my_luck()
좋음
```

#### Q.3. for문
- for문 연습하기

In [24]:
#3.1. range(0,10)에서 i를 하나씩 뽑는 행위를 반복.

0
1
2
3
4
5
6
7
8
9

```python
0
1
2
3
4
5
6
7
8
9
```

In [160]:
#3.2. range(0,10)에서 만약(if), i == 3이라면 i 출력하고, 아니라면(else) False 출력하기.

False
False
False
3
False
False
False
False
False
False

```python
False
False
False
3
False
False
False
False
False
False
```

In [32]:
#3.3. for문을 이용한 알파벳 생성하기.

```python
chr() # 아스키 코드를 문자로 변환 시켜주는 built-in 함수.
ord() # 문자를 아스키 코드로 변환 시켜주는 built-in 함수.
```

In [24]:
ord('a')

97

In [29]:
abc = []
for i in range(26):
    b = chr(ord('a') + i)
    abc.append(b)
abc

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [27]:
#3.4.1 100보다 작은 홀수 만들기
# range만 사용한 문제

In [38]:
odd_number1(100)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [260]:
#3.4.1 100보다 작은 홀수 만들기
# 조건문과 함께 이용.

In [261]:
odd_number2(100)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

- 위의 두 결과물은 같지만 연산 과정은 위가 훨씬 간단함.
- 필요한 것만 뽑는 의미와 전체를 두고 비교하면서 출력하는 차이를 이해해야 함.

In [45]:
# 3.5. for문 list에 담기

[1, 2, 3, 4, 5, 6, 7, 8, 9]

```python
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [46]:
# 3.6. 0부터 99까지 10*10 행렬 형태의 list 만들기

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]

```python
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
 [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
 [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
 [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]]
```

In [42]:
# 3.7. 구구단 만들기

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [41]:
# 3.7. 10 * 10 행렬로 구구단 만들기

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

```python
[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]
```

In [39]:
# 3.7. dict로 구구단 단 별로 나누기.

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9],
 2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

```python
{1: [1, 2, 3, 4, 5, 6, 7, 8, 9],
 2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}
```

#### Q4. Sorting(정렬)

In [55]:
# 4.1.기본 Sorting

```python
[1, 2, 3, 5, 6, 7, 8, 9] # copy() :
l = [1, 2, 3, 5, 6, 7, 8, 9] # reference :
```

In [60]:
# 4.2. Sorting을 이용한 최대 최솟값 구하기

l의 최댓값은 5, 최솟값은 1이다.

In [30]:
l = [3, 4, 1, 2, 9]
l[0]

3

[3, 6, 7, 9, 2, 8, 5] [1]
[3, 6, 7, 9, 8, 5] [1, 2]
[6, 7, 9, 8, 5] [1, 2, 3]
[6, 7, 9, 8] [1, 2, 3, 5]
[7, 9, 8] [1, 2, 3, 5, 6]
[9, 8] [1, 2, 3, 5, 6, 7]
[9] [1, 2, 3, 5, 6, 7, 8]
[] [1, 2, 3, 5, 6, 7, 8, 9]

[3, 6, 7, 9, 2, 8, 5] [1]
[3, 6, 7, 9, 8, 5] [1, 2]
[6, 7, 9, 8, 5] [1, 2, 3]
[6, 7, 9, 8] [1, 2, 3, 5]
[7, 9, 8] [1, 2, 3, 5, 6]
[9, 8] [1, 2, 3, 5, 6, 7]
[9] [1, 2, 3, 5, 6, 7, 8]
[] [1, 2, 3, 5, 6, 7, 8, 9]

In [300]:
# zip 응용 : dict 만들기

l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
d = {}
for i, j in zip(l1, l2):
    d[j] = i
d

{'a': 1, 'b': 2, 'c': 3}

```python
{'a': 1, 'b': 2, 'c': 3}
```