#### Jupyter notebook Markdown
- 이미지 첨부, 수식

In [ ]:
# 이미지 : ![](URL)

![]()

In [ ]:
# 수식 : $$ 식 $$

$$\\pi$$

#### Python 처리 과정
- Script(Input) - Interpreter(Kerne) - 기계어 변환 - CPU 연산 - Console(Output)

*기본 연습문제*

In [ ]:
# 1.1. 5.5를 2로 나누고 몫과 나머지를 구하라.

In [118]:
def Q1(float):
    x = float
    a = int(float / 2)
    b = (float / 2) - a
    print("{}를 2로 나눈 몫은 {}이고 나머지는 {}이다.".format(float, a, b))

In [119]:
Q1(5.5)

5.5를 2로 나눈 몫은 2이고 나머지는 0.75이다.

In [62]:
result1 = 2, 0.75

In [27]:
# 1.2. sin(pi/2)를 구하라.

In [116]:
from math import sin, pi
sin(pi/2)

1.0

In [117]:
result2 = 1.0

In [40]:
# 1.3. round(2.9), math floor(2.9), math ceil(2.9)의 차이점?
math.ceil(2.9)

3

In [51]:
def Q3(float):
    a = round(float); b = math.floor(float); c = math.ceil(float)
    print("{}의 반올림:{}, 내림:{}, 올림:{}".format(float, a, b, c))

Q3(2.9)

2.9의 반올림:3, 내림:2, 올림:3

In [63]:
result3 = 3, 2, 3

In [ ]:
# 1.4. random()을 이용해서 운수를 알아보자. 0~5 : 보통, 6~10 : 좋음

In [65]:
import random

In [109]:
random.randint(0, 10) # including both end points.

8

In [322]:
# cf) list comprehension을 이용한 주간 운수 판별기
def my_luck():
    import random
    l = [random.randint(0, 10) for _ in range(7)]
    if sum(l) > 35:
        print("좋음")
    else: print("나쁨")

#### Composite type
- list, tuple, dict, set

split을 이용한 dict와 tuple의 차이 구분

In [130]:
a = ["Tom&jerry", "b"]
type(a[0].split()) # list element를 split하면 다시 하나의 list로 취급함.

list

In [141]:
a[0].split("&", 1) # tuple로 표현하면 위치를 바꾸면 문제가 생김.

['Tom', 'jerry']

In [147]:
a[0].split(sep="&", maxsplit=1) # dict로 정의하면 key 값의 위치를 바꿔도 상관없음.

['Tom', 'jerry']

In [314]:
a = [1, 2, 3, 4]
sum(a)

10

In [313]:
# list comprehension
import random
l = [random.randint(1, 100) for _ in range(100)]

In [316]:
# during the week 운수 측정기
def my_luck():
    import random
    l = [random.randint(1, 10) for _ in range(7)]
    if sum(l) > 35:
        print("좋음")
    else: print("나쁨")

#### module
- 불러오기
```python
import sys
import os as window
from math import sqrt, pi # sqrt, pi만 모듈명 없이 사용. 즉, 필요한 함수만 골라서 사용 why? 다 부르면 메모리 낭비
from random import * # 모든 변수, 함수 모듈명 없이 사용
```

- prototype만들 때는 import 다 불러서 만듦. 상용적으로 다시 만들어낼 때는 사용했던 것만 따로 불러서 사용할 것. (메모리 절약)

- 협업 시 지속적으로 module 수정 시
```python
import myclass as mc
import imp
imp.reload(mc) # 실행환경에 따라 소스의 변경이 반영되지 않을 수 있음. 명시적으로 다시 부르는 방법.
```

#### for문

In [148]:
for i in range(0,10): # range(0,10)에서 i를 하나씩 뽑는 행위를 반복해라
    print(i)

0
1
2
3
4
5
6
7
8
9

In [160]:
for i in range(0,10): # 만약(if) i == 3이라면 i 출력, 아니라면(else) False 출력
    if i == 3:
        print(i)
    else: print(False)

False
False
False
3
False
False
False
False
False
False

*연습문제1*

In [172]:
chr() # 아스키 코드를 문자로 변환 시켜주는 built-in 함수.
ord() # 문자를 아스키 코드로 변환 시켜주는 built-in 함수.

'c'

In [175]:
chr(ord('d') + 2)

'f'

In [181]:
alphabet = [chr(ord('a') + i) for i in range(26)] # for문을 이용해서 alphabet 만들기.
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

*연습문제2*

In [264]:
# 100보다 작은 홀수 만들기
# range만 사용 
def odd_number1(n):
    ll = []
    for i in range(1, n, 2):
        ll.append(i)
    print(ll)

In [265]:
odd_number1(100)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [260]:
# 조건문 사용
def odd_number2(n):
    l2 = []
    for i in range(1, n):
        if i % 2 == 1:
            l2.append(i)
    print(l2)

In [261]:
odd_number2(100)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

- 위의 두 결과물은 같지만 연산 과정은 위가 훨씬 간단함.
- 필요한 것만 뽑는 의미와 전체를 두고 비교하고, 출력하는 차이를 알아야함.

*연습문제3*

In [288]:
# for문 list에 담기
l = []
for i in range(1,10):
    l.append(i)

In [375]:
# 0부터 99까지 10*10 행렬 형태의 리스트
mylist=[]
for i in range(10):
    n = i*10
    innerlist=[]
    for j in range(10):
        innerlist.append(n+j)
    mylist.append(innerlist)

In [289]:
# 구구단 만들기
ll = []
for i in range(1,10):
    for j in range(1,10):
        ll.append(i*j)

In [290]:
# 10 * 10 행렬로 구구단 만들기
tl = []
for i in range(1,10):
    l = []
    for j in range(1,10):
        l.append(i*j)
    tl.append(l)

In [ ]:
# dict로 단 별로 나누기.
d99 = {}
for i in range(1,10):
    innerlist = []
    for j in range(1, 10):
        innerlist.append(i*j)
    d99[i] = innerlist
d99

#### Sorting(정렬)
- list.sort() : 해당 list 자체를 정렬함. 반환X 
- sorted(list) : list를 복사해서 정렬한 후 반환. 본래의 list는 바뀌지 않음.

In [339]:
# 기본 Sorting
l = [3, 6, 7, 9, 2, 8, 5, 1]
n = len(l)
sortedl = []

In [ ]:
# Sorting을 이용한 최대 최솟값 구하기
l = [3, 1, 5, 4, 2]
def minmax(li):
    l.sort()
    return li[0], li[-1]
minmax(l)
print("l의 최댓값은 {}, 최솟값은 {}이다.".format(minmax(l)[-1], minmax(l)[0]))

In [340]:
for j in range(n):
    m = l[0]
    for i in range(len(l)):
        m = min(m, l[i])
    sortedl.append(m)
    l.remove(m)
    print(l, sortedl)

[3, 6, 7, 9, 2, 8, 5] [1]
[3, 6, 7, 9, 8, 5] [1, 2]
[6, 7, 9, 8, 5] [1, 2, 3]
[6, 7, 9, 8] [1, 2, 3, 5]
[7, 9, 8] [1, 2, 3, 5, 6]
[9, 8] [1, 2, 3, 5, 6, 7]
[9] [1, 2, 3, 5, 6, 7, 8]
[] [1, 2, 3, 5, 6, 7, 8, 9]

In [296]:
for j in range(n):
    m = 0
    for i in range(len(l)):
        if l[i] < l[m]: m = i
    sortedl.append(l.pop(m))
    print(l, sortedl)

[3, 6, 7, 9, 2, 8, 5] [1]
[3, 6, 7, 9, 8, 5] [1, 2]
[6, 7, 9, 8, 5] [1, 2, 3]
[6, 7, 9, 8] [1, 2, 3, 5]
[7, 9, 8] [1, 2, 3, 5, 6]
[9, 8] [1, 2, 3, 5, 6, 7]
[9] [1, 2, 3, 5, 6, 7, 8]
[] [1, 2, 3, 5, 6, 7, 8, 9]

In [347]:
# 분리결합 Sorting (quick-sort)
import random
l = [random.randint(1,100) for _ in range(100)]

def qsort(l):
    if len(l) == 0: cl = []
    else: cl = [l[0]]
    ll = []; rl = []
    #종료 조건
    if len(l) <= 1:
        return ll + cl + rl
    for i in range(1, len(l)):
        if l[i] < cl[0]: ll.append(l[i])
        else: rl.append(l[i])
    llist = qsort(ll)
    rlist = qsort(rl)
    return llist + cl + rlist

####  enumerate

In [346]:
# 반복문에서 반복의 횟수도 같이 뽑아냄.
ll = [2, 3]
for i, j in enumerate(ll):
    print("{}는 반복 횟수를 나타낸다.".format(i))
    print("{}는 ll의 값을 나타낸다.".format(j))
    print("======다음 반복을 시작한다.=====.")

0는 반복 횟수를 나타낸다.
2는 ll의 값을 나타낸다.
======다음 반복을 시작한다.=====.
1는 반복 횟수를 나타낸다.
3는 ll의 값을 나타낸다.
======다음 반복을 시작한다.=====.

####  zip

In [297]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']

In [298]:
for i, j in zip(l1, l2):
    print("{}는 l1의 성분이다.".format(i))
    print("{}는 l2의 성분이다.".format(j))
    print("======다음 반복을 시작한다.=====.")

1는 l1의 성분이다.
a는 l2의 성분이다.
======다음 반복을 시작한다.=====.
2는 l1의 성분이다.
b는 l2의 성분이다.
======다음 반복을 시작한다.=====.
3는 l1의 성분이다.
c는 l2의 성분이다.
======다음 반복을 시작한다.=====.

In [300]:
# zip 응용 : dict 만들기

l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
d = {}
for i, j in zip(l1, l2):
    d[j] = i
d

{'a': 1, 'b': 2, 'c': 3}

#### lambda 함수
- 간단하게 함수 만들 때 사용.
- lambda [value]: return 값

In [304]:
# lambda 기본 명령법
f = lambda a,b,c : a+b+c
f(1, 2, 3)

6

In [305]:
sorted([1, 2, 3, 4, 5], key=lambda x:abs(3.1-x)) # 생략된 과정 / abs : 절댓값 반환.

[3, 4, 2, 5, 1]

#### file read & write

In [306]:
# 현재 위치 확인
import os
os.getcwd()

'C:\\Users\\tmznq\\workspace\\ml_scratch\\seoul_coding_academy\\week1'

*연습문제*

In [ ]:
# 아래와 같은 txt 파일을 만들어라. (open 이용)

1. 서울,99.9,중부
1. 부산,83.2,남부
1. 대구,77.5,남부
1. 인천,67.8,중부

In [307]:
with open("cities.txt", "w") as f:
    f.write("""1,서울,99.9,중부
2,부산,83.2,남부
3,대구,77.5,남부
4,인천,67.8,중부
""")

In [308]:
f = open("cities.txt")
f.readlines()

['1,서울,99.9,중부\n', '2,부산,83.2,남부\n', '3,대구,77.5,남부\n', '4,인천,67.8,중부\n']

In [309]:
f.close()

#### search

In [383]:
# list comprehension
import random
l = [random.randint(1, 100) for _ in range(100)] # list comprehension
l[:5] #

[59, 91, 86, 87, 22]

In [384]:
def seqsearch(l, target): 
    for i in range(len(l)):
        if l[i] == target:
            return i

In [385]:
seqsearch(l, 42)

33

In [386]:
# list에 동일한 값이 중복된다면? 그 값이 얼마나 존재하는지?
def seqsearchall(l, target):
    ret = []
    isnot = 0
    for i in range(len(l)):
        if l[i] == target:
            ret.append(i)
            isnot = 1
        elif l[i] > target:
            if isnot == 1: return ret
            else: return -1
    return -1

In [388]:
seqsearchall(l, 42)

-1

- python으로 구현하려면 매우 복잡함.
- Numpy의 Series를 이용한다면 value.count()를 통해 쉽게 구할 수 있음.

#### 재귀함수(recursive function) 
- 함수 정의부에서 자기 자신을 호출하는 함수

In [ ]:
def factorial(x):
    if x == 1: return 1
    else: return x*factorial(x-1)

#### 하노이의 탑
- 간단한 알고리즘 예제
![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0b1Edu4SIGYVHgKZqZso7__aeivqXfodUly5zyFA6J1hSDtXB)

1. n-1개 원반셋을 기둥1에서 기둥2로
2. n번째 원반을 기둥1에서 기둥3
3. n-1개 원반셋을 기둥2에서 기둥3

In [373]:
def hanoi(n, o, t): # o : original, t: target
    if n == 1:
        print("{}번째 원반을 기둥{}에서 기둥{}로 옮겨라".format(n, o, t))
        return
    hanoi(n-1, o, 6-o-t)
    print("{}번째 원반을 기둥{}에서 기둥{}로 옮겨라".format(n, o, t))
    hanoi(n-1, 6-o-t, t)

In [374]:
hanoi(3, 1, 3)

1번째 원반을 기둥1에서 기둥3로 옮겨라
2번째 원반을 기둥1에서 기둥2로 옮겨라
1번째 원반을 기둥3에서 기둥2로 옮겨라
3번째 원반을 기둥1에서 기둥3로 옮겨라
1번째 원반을 기둥2에서 기둥1로 옮겨라
2번째 원반을 기둥2에서 기둥3로 옮겨라
1번째 원반을 기둥1에서 기둥3로 옮겨라